@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    The sum of two numbers is @ViewBag.Sum.
</div>
<div>
    First Name: @ViewBag.FullName.FirstName
    <br />
    Last Name: @ViewBag.FullName.LastName
    <br />
    Shakespeare's books:
    <br />
    @foreach (var book in ViewBag.books)
    {
    <ul>
        <li>
            Title: @book.Title, Price: @book.Price
        </li>
    </ul>
    }
    <br />
    @ViewBag.HelloMessage (message from Hello Service)
    <br />

    Student: @ViewBag.Student
    <br />
    <br />
    Singlton Guid Number: @ViewBag.SingletonGuidNumber
    <br />
    Singlton Guid Number: @ViewBag.SingletonGuidNumber2
    <br />
    <br />
    Transient Guid Number: @ViewBag.TransientGuidNumber
    <br />
    Transient Guid Number: @ViewBag.TransientGuidNumber2
    <br />
    <br />
    Scoped Guid Number: @ViewBag.ScopedGuidNumber
    <br />
    Scoped Guid Number: @ViewBag.ScopedGuidNumber2
    <br />
</div>
